#container{
    height: 500px;
    width: 100%;
    background-color: bisque;

}

#part1
{
    height: 300px;
    width: 80%;
    /* padding: 25%; */
    background-color: blue;
    margin-left: 10%;
    
}

#part2
{
    height: 200px;
    width: 80%;
    /* padding: 25%; */
    margin-left: 10%;
    background-color: red;
    

}
